{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Игра</title>
 <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
  <div id="game">
    <div id="background1" class="background"></div>
    <div id="background2" class="background"></div>
    <div id="score">0</div>
    <div id="level">Уровень: 1</div>
    <div id="highScore">"Лучший результат: 0</div>
    <div id="trex"></div>
    <div id="particles"></div>
    <div id="levelUpMessage" class="hidden">Слудующий уровень!</div>
    <div id="spaceship" class="hidden"></div>
    <div id="spaceEnemy" class="hidden"></div> 
    <div id="gameOver" class="hidden">
      <h1 class="game-over">Вы проиграли</h1>
      <button onclick="restartGame()">Начать сново </button>
    </div>
  </div>

  <audio id="jumpSound" src="{% static 'sounds/jump.mp3' %}"></audio>
  <audio id="gameOverSound" src="{% static 'sounds/crash.mp3' %}"></audio>
  
  <script>
    const backgrounds = {
        level1: "{% static 'media/back2.jpg' %}",
        level2: "{% static 'media/back3.jpg' %}",
        level3: "{% static 'media/back4.jpg' %}"
    };
  </script>
  
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
